.card-wrapper{
    flex-wrap: wrap;
}
.card{
    border-radius: 13px;
    max-width: 360px;
    /* margin-top: auto; */
}
.cardLight{
    background-color: #eae8ec;
    transition: 0.3s;
}
.cardDark{
    background-color: rgba(26, 27, 35, 1);
    transition: 0.3s;
}
.textLight{
    color: black;
    transition: 0.3s;
}
.textDark{
    color: white;
    transition: 0.3s;
}
.cardLinkLight{
    color: rgb(112 16 233);
}
.cardLinkDark{
    
    color: rgba(185, 130, 255, 1);
}
.card-link__wrapper.cardLinkLight *{
    color: rgb(112 16 233);
    
}
.card-link__wrapper.cardLinkDark *{
    color: rgba(185, 130, 255, 1);

}
/* .card-link__wrapper * {
    color: rgba(185, 130, 255, 1);
} */
.card-link__wrapper .card-arrow-icon{
    transform: translate(0px, 0px);
    transition: 0.5s;
}
.card-link__wrapper:hover .card-arrow-icon{
    transform: translate(5px, 0px);
}
.card img{
    margin: 10px auto
}